

<h1 class="text-center mt-4">Careers</h1>

<div class="container">
	<div class="card-group mt-4">
	  <div class="card">
	     <%= image_tag("card1.jpeg", :alt => "Card image cap" , class: 'card-img-top' ) %>
		<div class="card-body">
	      <h5 class="card-title">COLDFUSION DEVELOPER</h5>
	      <p class="card-text">We are seeking an experienced ColdFusion Developer. The successful applicant will understand the need to achieve a balance between innovation and the most appropriate solution for our clients. </p>
	      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
	      <%= link_to 'Apply now' , careers_apply_path , class: 'btn btn-outline-dark btn-block' %>
	    </div>
	  </div>
	  <div class="card">
	  	     <%= image_tag("card2.jpeg", :alt => "Card image cap" , class: 'card-img-top' ) %>
	    <div class="card-body">
	      <h5 class="card-title">CLIENT ACQUISITION</h5>
	      <p class="card-text">We are seeking an experienced Client Acquisition. The successful applicant will understand the need to achieve a balance between innovation and the most appropriate solution for our clients.</p>
	      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
	      <%= link_to 'Apply now' , careers_apply_path , class: 'btn btn-outline-dark btn-block' %>
	    </div>
	  </div>
	  <div class="card">
	   <%= image_tag("card3.jpeg", :alt => "Card image cap" , class: 'card-img-top' ) %>
	    <div class="card-body">
	      <h5 class="card-title">JAVA DEVELOPER</h5>
	      <p class="card-text">We are seeking an experienced Java Developer. The successful applicant will understand the need to achieve a balance between innovation and the most appropriate solution for our clients.</p>
	      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
	      <%= link_to 'Apply now' , careers_apply_path , class: 'btn btn-outline-dark btn-block' %>
	    </div>
	  </div>
	</div>
</div>
<!-- ///////// -->
<div class="container">
	<div class="card-group mt-5 mb-5">
	  <div class="card">
		 <%= image_tag("card4.jpeg", :alt => "Card image cap" , class: 'card-img-top' ) %>  	
	    <div class="card-body">
	      <h5 class="card-title">RAILS DEVELOPER</h5>
	      <p class="card-text">We are seeking an experienced Rails Developer. The successful applicant will understand the need to achieve a balance between innovation and the most appropriate solution for our clients.</p>
	      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
	      <%= link_to 'Apply now' , careers_apply_path , class: 'btn btn-outline-dark btn-block' %>
	    </div>
	  </div>
	  <div class="card">
	  	<%= image_tag("card5.jpeg", :alt => "Card image cap" , class: 'card-img-top' ) %>  	
	    <div class="card-body">
	      <h5 class="card-title">DJANGO DEVELOPER</h5>
	      <p class="card-text">We are seeking an experienced Django Developer. The successful applicant will understand the need to achieve a balance between innovation and the most appropriate solution for our clients.</p>
	      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
	      <%= link_to 'Apply now' , careers_apply_path , class: 'btn btn-outline-dark btn-block' %>
	    </div>
	  </div>
	  <div class="card">
	  <%= image_tag("card6.jpeg", :alt => "Card image cap" , class: 'card-img-top' ) %>  	
	    <div class="card-body">
	      <h5 class="card-title">JAVASCRIPT DEVELOPER</h5>
	      <p class="card-text">We are seeking an experienced javascript Developer. The successful applicant will understand the need to achieve a balance between innovation and the most appropriate solution for our clients.</p>
	      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
	      <%= link_to 'Apply now' , careers_apply_path , class: 'btn btn-outline-dark btn-block' %>
	    </div>
	  </div>
	</div>
</div>
<div class="container mb-3 mt-5">
<h1>WHAT WE LOOK FOR IN A CANDIDATE</h1>
</div>
<%= render 'users/paragraphs' %>



<!-- Footer -->
<h1 class="text-center mt-5 mb-1">TECHNOLOGIES WE USE</h1>
<hr>
<footer class="page-footer font-small bg-danger  pt-4 mt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-lg-2 col-md-12 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
              	<%= image_tag("http://rightsolutions.ae/assets/technology/laravel-6014415643377d28b45b65e882ca698a1b0dccd03f0e81f6389b2172c2b5bf2f.png", :alt => "Team Work" , class: 'img-fluid' ) %>
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
            <%= image_tag("http://rightsolutions.ae/assets/technology/rails-37a16a5350e8a1040c962d2c2854a0eb47e3458c463dcdda790a5e6ae387d7bc.png", :alt => "Team Work" , class: 'img-fluid' ) %>
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          	 <%= image_tag("http://rightsolutions.ae/assets/technology/jango-7e814585af1f388af84b0608f389407415f20f9a1ec46f547b67c7f4d9559316.png", :alt => "Team Work" , class: 'img-fluid' ) %>
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-12 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          	<%= image_tag("http://rightsolutions.ae/assets/technology/js-e763c863490a71b45d6e7b15e39351096ac094aef113c012881ca311c66efee7.png", :alt => "Team Work" , class: 'img-fluid' ) %>
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          	<%= image_tag("http://rightsolutions.ae/assets/technology/node-298c34b2d2c431b6359c602e77d2343f8a71e7a3a72767d22de2bc8d1fd1a4a4.png", :alt => "Team Work" , class: 'img-fluid' ) %>
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          	<%= image_tag("http://rightsolutions.ae/assets/technology/amazon-dynamodb-f0950f578ad4a43112e07ccd5294f7aeb8a87a16e4d615e714ea4c9fd35e092c.png", :alt => "Team Work" , class: 'img-fluid' ) %>
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <%= link_to 'Right Solutions' , url: 'https://rightsolutions.ae' %>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -